@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>

    <div class="title">
        Scene Tests
    </div>

    <div class="explanation">
The scenes below are used as tests and examples of the scene system. 
One day we will force everyone to use the scene system - the Entity system will go away.


Click a scene to enter it - press escape to return to this menu.
    </div>

    <div class="scene-list">
    @foreach( var scene in ResourceLibrary.GetAll<SceneFile>().OrderBy( x => x.ResourceName ) )
    {
        <SceneButton Scene="@scene" OnSelected="@OpenScene"></SceneButton> 
    }
    </div>


</root>

@code
{
    void OpenScene( SceneFile file )
    {
        // GameManager.ActiveScene = new Scene();
        GameManager.ActiveScene.Load( file );

        var go = new GameObject( true, "Return To Menu" );
        go.AddComponent<ReturnToMenu>();
    }

}
