@using Sandbox;
@using Sandbox.UI;
@inherits Panel

<root onclick="@( () => OnSelected( Scene ) )">

    <div class="title" tooltip="@Scene.GetMetadata( "Description" )">@Scene.GetMetadata("Title", Scene.ResourceName)</div>

</root>

@code
{

    public new SceneFile Scene { get; set; }

    public Action<SceneFile> OnSelected { get; set; }

    protected override int BuildHash() => System.HashCode.Combine(Scene);
}
