
SceneMenuPanel
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    pointer-events: all;
    flex-direction: row;
    padding: 60px;
    color: #ccc;
    font-family: Poppins;
    font-size: 14px;


    .left
    {
        width: 400px;
        flex-direction: column;

        > .title
        {
            font-size: 40px;
            font-weight: bold;
        }

        > .explanation
        {
            color: #aaaa;
            font-size: 17px;
            margin-bottom: 50px;
            width: 100%;
            flex-direction: column;
            gap: 20px;
        }
    }

    .scene-list
    {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 20px;
        justify-content: center;
    }

    .lobby-list
    {
        width: 500px;
        flex-direction: column;
        margin: 20px;
        overflow: scroll;
        gap: 5px;
    }

    .header
    {
        margin-bottom: 10px;
        font-size: 20px;
        width: 100%;
        font-weight: bold;
    }
}


SceneButton
{
    padding: 5px 10px;
    color: #aaa;
    background-color: #444;
    margin: 5px;
    cursor: pointer;
    opacity: 0.5;
    border-radius: 7px;
    flex-direction: column;
    max-width: 300px;
    flex-grow: 1;

    .title
    {
        font-size: 19px;
        font-family: Poppins;
        font-weight: bold;
    }

    &:hover
    {
        opacity: 1;
        background-color: #3555d2;
        color: #fff;
    }

    &:active
    {
        background-color: #fff;
        color: #666;
    }
}


.lobby-list > .button
{
    background-color: transparent;
    color: #aaa;
    padding: 10px;
    border-radius: 8px;
    gap: 2px;
    width: 280px;
    cursor: pointer;
    width: 100%;
    flex-direction: column;

    .title
    {
        flex-grow: 1;
        font-weight: bold;
        font-size: 16px;
    }

    .meta
    {
        gap: 10px;
        font-size: 12px;

        .map
        {
            flex-grow: 1;
        }

        .count
        {
            white-space: nowrap;
        }
    }

    &:hover
    {
        background-color: #f13edc;
        color: #fff;
    }
}
