@using Sandbox
@using Sandbox.UI
@namespace Sandbox.UI.Tests.Basics
@inherits PanelComponent

<root>

    <BaseTestPanel Title="Filter Tests" subtitle="A bunch of UI filter tests">
        <Body>
            <example class="drop-shadow">
            </example>

            <example class="drop-shadow-multiple">
            </example>

            <example class="glow">
            </example>

            <example class="drop-shadow mask">
            </example>

            <example class="drop-shadow mask blur">
            </example>

            <example class="drop-shadow blur">
            </example>

            <example class="multiple-filters">
            </example>

            <example class="border">
            </example>

            <example class="border border-big">
            </example>

            <example class="border no-bg">
                <label>HELLO 🖖</label>
            </example>
        </Body>
    </BaseTestPanel>

</root>
