@using Sandbox
@using Sandbox.UI
@namespace Sandbox.UI.Tests.Basics
@inherits PanelComponent

<root>

    <BaseTestPanel Title="Image Rendering Tests" subtitle="Different image rendering styles">
        <Body>
            <example style="image-rendering: auto">
                Auto
            </example>
            
            <example style="image-rendering: anisotropic">
                Anisotropic
            </example>
            
            <example style="image-rendering: bilinear">
                Bilinear
            </example>
            
            <example style="image-rendering: trilinear">
                Trilinear
            </example>
            
            <example style="image-rendering: point">
                Point
            </example>
            
            <example style="image-rendering: pixelated">
                Pixelated
            </example>
            
            <example style="image-rendering: nearest-neighbor">
                Nearest-neighbor
            </example>
        </Body>
    </BaseTestPanel>

</root>
