example {
    width: 200px;
    height: 200px;
    background-color: red;
    background-image: url( /UI/small-2x2.png );
    background-size: cover;
    margin: 10px;
    font-weight: bolder;
    font-size: 24px;
    padding-top: 30px;
    color: white;
    border: 0px solid white;
    align-content: center;
    justify-content: center;
    text-align: center;
    text-shadow: 1px 1px 5px black;
}
