Transitions {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.example_panel {
    &:hover {
        transform: rotate(180deg);
    }
}

.scale_panel {
    border-radius: 4px;
    flex-shrink: 0;

    &:hover {
        transform: scale(1.5);
    }
}

.example_panel, .scale_panel {
    border: 4px solid black;
    width: 200px;
    height: 150px;
    border-radius: 8px;
    background-color: white;
    color: #444;
    margin: 40px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    flex-direction: column;

    .little {
        font-size: 12px;
    }
}
