@namespace Sandbox.UI.Tests.Elements
@attribute [StyleSheet]
@inherits Sandbox.UI.Panel

<div class="root">

    <box class="background">
        <label>A WebP Background</label>
        <div>background-image</div>
    </box>

	<box class="bordered">
		<label>Border Image</label>
		<div>border-image</div>
	</box>

	<box class="hovermode">
        <label>Hover Me</label>
        <div>WebP on hover</div>
    </box>

</div>
