
.root
{
    flex-direction: row;
    flex-wrap: wrap;
}

.root > row
{
    flex-direction: column;
    margin: 20px;
    gap: 16px;
    flex-basis: 300px;
    border: 1px solid #aaa3;
    padding: 16px;

    > label
    {
        opacity: 0.4;
        flex-grow: 1;
        font-weight: bolder;
    }

    > output
    {
        justify-content: center;
    }
}