{
  "TrackPresets": [
    {
      "Meta": {
        "Title": "Citizen Skeleton",
        "Category": "Custom",
        "Icon": "playlist_add"
      },
      "Root": {
        "PropertyName": "Body",
        "PropertyType": "Sandbox.GameObject",
        "Children": [
          {
            "PropertyName": "SkinnedModelRenderer",
            "PropertyType": "Sandbox.SkinnedModelRenderer",
            "Children": [
              {
                "PropertyName": "Bones",
                "PropertyType": "Sandbox.MovieMaker.Properties.BoneAccessor",
                "Children": [
                  {
                    "PropertyName": "ankle_L",
                    "PropertyType": "Transform",
                    "Children": []
                  },
                  {
                    "PropertyName": "ankle_R",
                    "PropertyType": "Transform",
                    "Children": []
                  },
                  {
                    "PropertyName": "arm_lower_L",
                    "PropertyType": "Transform",
                    "Children": []
                  },
                  {
                    "PropertyName": "arm_lower_R",
                    "PropertyType": "Transform",
                    "Children": []
                  },
                  {
                    "PropertyName": "arm_upper_L",
                    "PropertyType": "Transform",
                    "Children": []
                  },
                  {
                    "PropertyName": "arm_upper_R",
                    "PropertyType": "Transform",
                    "Children": []
                  },
                  {
                    "PropertyName": "ball_L",
                    "PropertyType": "Transform",
                    "Children": []
                  },
                  {
                    "PropertyName": "ball_R",
                    "PropertyType": "Transform",
                    "Children": []
                  },
                  {
                    "PropertyName": "clavicle_L",
                    "PropertyType": "Transform",
                    "Children": []
                  },
                  {
                    "PropertyName": "clavicle_R",
                    "PropertyType": "Transform",
                    "Children": []
                  },
                  {
                    "PropertyName": "hand_L",
                    "PropertyType": "Transform",
                    "Children": []
                  },
                  {
                    "PropertyName": "hand_R",
                    "PropertyType": "Transform",
                    "Children": []
                  },
                  {
                    "PropertyName": "head",
                    "PropertyType": "Transform",
                    "Children": []
                  },
                  {
                    "PropertyName": "leg_lower_L",
                    "PropertyType": "Transform",
                    "Children": []
                  },
                  {
                    "PropertyName": "leg_lower_R",
                    "PropertyType": "Transform",
                    "Children": []
                  },
                  {
                    "PropertyName": "leg_upper_L",
                    "PropertyType": "Transform",
                    "Children": []
                  },
                  {
                    "PropertyName": "leg_upper_R",
                    "PropertyType": "Transform",
                    "Children": []
                  },
                  {
                    "PropertyName": "neck_0",
                    "PropertyType": "Transform",
                    "Children": []
                  },
                  {
                    "PropertyName": "pelvis",
                    "PropertyType": "Transform",
                    "Children": []
                  },
                  {
                    "PropertyName": "spine_0",
                    "PropertyType": "Transform",
                    "Children": []
                  },
                  {
                    "PropertyName": "spine_1",
                    "PropertyType": "Transform",
                    "Children": []
                  },
                  {
                    "PropertyName": "spine_2",
                    "PropertyType": "Transform",
                    "Children": []
                  }
                ]
              }
            ]
          }
        ]
      }
    }
  ],
  "__guid": "8c17c4b4-51b4-45b2-8466-1d91ac7e6bf4",
  "__schema": "configdata",
  "__type": "MovieMakerConfig",
  "__version": 1
}