
SceneMenuPanel
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #333;
	pointer-events: all;
	flex-direction: column;
	padding: 0px 60px;
	color: #ccc;
	font-family: Poppins;
	font-size: 14px;
}

.header
{
	flex-direction: column;
	padding: 5rem;
	padding-bottom: 0;
	flex-shrink: 0;

	.title
	{
		font-size: 32px;
		font-family: Poppins;
		font-weight: bold;
	}
}

.body
{
	flex-direction: row;
	padding: 4rem;
	flex-grow: 1;
	gap: 2rem;
}

.sidebar
{
	flex-direction: column;
	flex-shrink: 0;
	padding: 1rem;
	width: 300px;
	background-color: #0006;
	border-radius: 8px;
	justify-content: flex-start;

	.option
	{
		flex-grow: 0;
		flex-shrink: 0;
		cursor: pointer;
		opacity: 0.4;
		padding: 5px 10px;
		font-weight: 550;
		border-radius: 5px;

		.name
		{
			flex-grow: 1;
		}

		&:hover
		{
			opacity: 1;
			background-color: #3273eb22;
			color: white;
		}

		&.active
		{
			opacity: 1;
			background-color: #3273eb;
			color: white;
			font-weight: bold;
		}
	}
}

.scene-list
{
	flex-wrap: wrap;
	gap: 1rem;
	padding: 2rem;
	background-color: #0006;
	flex-grow: 1;
	border-radius: 8px;
	overflow: scroll;
}

