SceneButton
{
	cursor: pointer;
	flex-direction: column;
	flex-grow: 0;
	flex-shrink: 0;
	align-items: flex-start;
	justify-content: flex-start;
	transition: all 0.1s ease-out;
	padding: 10px 20px;
	width: 250px;
	background-color: #0006;
	color: #aaa;
	border-radius: 8px;
	opacity: 1;

	.title
	{
		font-size: 17px;
		font-family: Poppins;
		font-weight: 550;
		color: white;
	}

	.description
	{
		font-size: 12px;
		opacity: 0.5;
	}

	&:hover
	{
		opacity: 1;
		background-color: #3273eb;
		color: #fff;
		sound-in: ui.button.over;
	}

	&:active
	{
		background-color: #fff;
		color: #666;
		sound-in: ui.button.press;
	}

	&:outro
	{
		opacity: 0;
		transition: all 0.2s ease;
		transform: scale( 0.8 ) translateY( 50px );
	}

	&:intro
	{
		opacity: 0;
		transition: all 0.1s ease-out;
		transform: scale( 1.2 ) translateY( -50px );
	}
}
