@using Sandbox;
@using Sandbox.UI;
@inherits RootPanel
@attribute [StyleSheet]

<root>

    <div class="time">@System.DateTime.Now</div>

    <div class="health">+100</div>

</root>

@code{
    protected override int BuildHash()
    {
        return System.HashCode.Combine(System.DateTime.Now);
    }

}
