
NameTagPanel
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 50px;
    font-family: Poppins;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    color: #ff6a00;
    font-weight: bold;
    text-shadow: 3px 3px 10px black;
    text-stroke: 5px white;
}
