@using Sandbox.Modals;
@using Sandbox;
@using Sandbox.UI.GameMenu;
@using Sandbox.UI;

@inherits PanelComponent
@attribute [StyleSheet]

<root class="binds-modal">
	<div class="inner-modal">
        <div class="action-list">

            @foreach ( var group in Actions.GroupBy( x => x.GroupName ) )
            {
                <div class="subtitle">@group.Key</div>

                <div class="group">
                    @foreach( var action in group )
                    {
                        <div class="row">
                            <div class="name">@action.Name</div>
                        
                            <KeyBind class="bind" @Game=@IGameInstance.Current Action=@action />
                        </div>
                    }
                </div>
            }
        </div>

        <div class="footer">
            <div class="button" @onclick=@(() => Save())>Save</div>
        </div>
    </div>
</root>

@code
{
    IEnumerable<InputAction> Actions { get; set; } = Input.GetActions();

    public void Save()
    {
        foreach ( var kb in Panel.Descendants.OfType<KeyBind>() )
        {
            kb.Apply();
        }

        IGameInstance.Current.SaveBinds();
    }
}
